@-webkit-keyframes pop-up {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes pop-up {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes pop-down {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes pop-down {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes pop-out-left {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes pop-out-left {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes pop-out-right {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes pop-out-right {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes apparition {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes apparition {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes pop-down {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes mobile-nav {
  from {
    -webkit-transform: translateX(700px);
            transform: translateX(700px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes mobile-nav {
  from {
    -webkit-transform: translateX(700px);
            transform: translateX(700px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

body {
  overflow-x: hidden;
  background-color: #f2f6fa;
  color: #6c788b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px; }

a {
  text-decoration: none;
  color: inherit; }

ul,
li {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%; }

button {
  border: none;
  cursor: pointer; }

span {
  display: inline-block; }

.header {
  background-color: #2c2c2c; }
  .header__top {
    height: 120px;
    max-width: 1150px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    -webkit-animation: pop-out-left 0.5s ease-in-out;
            animation: pop-out-left 0.5s ease-in-out; }
  .header__logo-link {
    margin-right: 6%; }
    .header__logo-link:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s; }

.logo {
  display: block;
  width: 44.82px;
  height: 25.63px; }

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mobile-nav > div {
  background: rgba(24, 39, 51, 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 250vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.mobile-menu .mobile-nav > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 50vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.mobile-nav > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem; }

.mobile-nav > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease; }
  .mobile-nav > div > div > ul > li > a:hover {
    color: #2060f6; }

.toggler {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0; }

.hamburger {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hamburger__line {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    height: 2px;
    background: #2060f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .hamburger__line::before, .hamburger__line::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: -10px;
      width: 100%;
      height: 2px;
      background: inherit; }
    .hamburger__line::after {
      top: 10px; }

/* Toggler Animation */
.toggler:checked + .hamburger__line {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

/* Show Menu */
.toggler:checked ~ .mobile-nav {
  visibility: visible; }

.toggler:checked ~ .mobile-nav > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.toggler:checked ~ .mobile-nav > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s; }

/* Turns Lines Into X */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

/* Rotate On Hover When Checked */
.toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg); }

@media screen and (max-width: 1200px) {
  .header {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    padding: 0 10px; }
    .header__top {
      max-width: 900px; } }

@media screen and (max-width: 1024px) {
  .header {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header__logo {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      margin-left: 0; }
  .mobile-menu {
    display: block; } }

@media screen and (max-width: 430px) {
  .header__top {
    max-width: 200px; } }

.nav {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  letter-spacing: 3px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__list-item {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 64px;
    color: #fff;
    text-transform: uppercase;
    -webkit-animation: pop-down 0.5s ease-in-out forwards;
            animation: pop-down 0.5s ease-in-out forwards; }
    .nav__list-item:last-of-type {
      margin-right: 0; }
    .nav__list-item:hover::before {
      content: "";
      background-color: #2060f6;
      position: absolute;
      height: 2px;
      border-radius: 4px;
      width: 100%;
      bottom: -8px;
      left: -1px; }
  .nav__list-item-last {
    margin-left: 254px;
    position: relative;
    -webkit-animation: pop-out-right 0.5s ease-in-out forwards;
            animation: pop-out-right 0.5s ease-in-out forwards; }
  .nav__list-link {
    color: #fff; }
    .nav__list-link:hover {
      color: #f2f6fa;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }

@media screen and (max-width: 1200px) {
  .nav__list-item-last {
    margin-left: 0; } }

@media screen and (max-width: 1024px) {
  .nav {
    display: none; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      z-index: 1;
      left: 45vw; }
    .nav__list-item {
      margin-right: 0;
      margin-top: 20px;
      -webkit-animation: mobile-nav 0.5s ease-in-out forwards;
              animation: mobile-nav 0.5s ease-in-out forwards; }
      .nav__list-item:first-of-type {
        margin-top: 0; }
      .nav__list-item:nth-child(2) {
        -webkit-animation-delay: 0.09s;
                animation-delay: 0.09s; }
      .nav__list-item:nth-child(3) {
        -webkit-animation-delay: 0.12s;
                animation-delay: 0.12s; }
      .nav__list-item:nth-child(4) {
        -webkit-animation-delay: 0.15s;
                animation-delay: 0.15s; }
      .nav__list-item:nth-child(5) {
        -webkit-animation-delay: 0.18s;
                animation-delay: 0.18s; }
      .nav__list-item:nth-child(6) {
        -webkit-animation-delay: 0.21s;
                animation-delay: 0.21s; } }

.slider {
  color: #fff;
  -webkit-animation: pop-out-right 0.5s ease-in-out forwards;
          animation: pop-out-right 0.5s ease-in-out forwards;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .slider__slides {
    background-color: #2c2c2c;
    overflow: hidden;
    position: relative;
    border-radius: 40px 0;
    min-height: 680px;
    width: 50vw; }
  .slider__slide-1_text {
    position: absolute;
    left: 200px;
    bottom: 48px; }
  .slider__slide-intro {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .slider__slide-info {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px; }
  .slider__input {
    display: none; }
  .slider__slide {
    position: absolute;
    width: inherit;
    min-height: 680px; }
  .slider__slide-1 {
    background-image: url(../images/slider/Photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .slider__slide-2 {
    background-image: url(../images/slider/Photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .slider__slide-3 {
    background-image: url(../images/slider/Photo3.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .slider__controls {
    left: 48px;
    bottom: 66px;
    position: absolute;
    z-index: 1; }
  .slider__label {
    cursor: slideer;
    display: inline-block;
    height: 8px;
    margin: 0 12px 0 16px;
    position: relative;
    width: 8px;
    border-radius: 50%;
    -webkit-transition: background ease-in-out 0.3s;
    transition: background ease-in-out 0.3s; }
  .slider__label:after {
    border: 2px solid #2060f6;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    border-radius: 50%; }

label:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: #2060f6; }

#slide1:checked ~ .slider__controls label:nth-of-type(1),
#slide2:checked ~ .slider__controls label:nth-of-type(2),
#slide3:checked ~ .slider__controls label:nth-of-type(3) {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: #2060f6; }

#slide1:checked ~ .slider__slides > .slider__slide-1,
#slide2:checked ~ .slider__slides > .slider__slide-2,
#slide3:checked ~ .slider__slides > .slider__slide-3 {
  opacity: 1;
  z-index: 1; }

@media screen and (max-width: 960px) {
  .slider {
    display: none; } }

.main-info {
  background-color: #2c2c2c;
  color: #fff;
  margin-top: -2px;
  height: 680px;
  border-radius: 0 0 40px 40px;
  position: relative; }
  .main-info__text {
    max-width: 335px; }
  .main-info__wrapper {
    margin: auto;
    max-width: 1150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-info__title {
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    display: block;
    margin-top: 120px;
    -webkit-animation: pop-out-left 0.5s ease-in-out forwards;
            animation: pop-out-left 0.5s ease-in-out forwards; }
  .main-info__slogan {
    font-size: 18px;
    line-height: 27px;
    display: block;
    margin-top: 32px;
    -webkit-animation: pop-out-left 0.5s ease-in-out forwards;
            animation: pop-out-left 0.5s ease-in-out forwards; }
    .main-info__slogan:last-of-type {
      margin-top: 0; }
  .main-info__button {
    height: 50px;
    -webkit-animation: pop-up 0.5s ease-in-out forwards;
            animation: pop-up 0.5s ease-in-out forwards;
    margin-top: 96px; }

@media (max-width: 1200px) {
  .main-info__wrapper {
    max-width: 85%; } }

@media (max-width: 960px) {
  .main-info {
    height: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-info__text {
      text-align: center;
      -ms-flex-item-align: center;
          align-self: center; }
    .main-info__title {
      margin-top: 0; } }

.about {
  width: 100%; }
  .about__wrapper {
    max-width: 754px;
    margin: auto; }
  .about__title {
    font-family: Poppins, sans-serif;
    color: #253757;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-top: 148px;
    -webkit-animation: pop-down 0.5s ease-in-out forwards;
            animation: pop-down 0.5s ease-in-out forwards; }
  .about__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-top: 16px;
    -webkit-animation: pop-up 0.5s ease-in-out forwards;
            animation: pop-up 0.5s ease-in-out forwards;
    margin-bottom: 148px; }

@media screen and (max-width: 850px) {
  .about__wrapper {
    max-width: 80%; }
  .about__title {
    margin-top: 40px;
    text-align: center; }
  .about__text {
    margin-bottom: 40px;
    font-size: 13px; } }

.experties {
  padding: 128px 0;
  background-color: #fff;
  border-radius: 30px; }
  .experties__title {
    font-family: Poppins, sans-serif;
    color: #253757;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 52px;
    line-height: 150%;
    margin-bottom: 64px; }

.servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 1200px) {
  .servises {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    max-width: 80%; } }

@media (max-width: 1024px) {
  .experties {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    padding: 40px 10px; }
  .servises {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .servises__service {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      margin: 20px; } }

@media (max-width: 750px) {
  .experties__title {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    margin-bottom: 30px;
    font-size: 32px; } }

.service {
  width: 264px;
  height: 334px;
  position: relative;
  text-align: center; }
  .service__img {
    margin: auto;
    border-radius: 16px; }
  .service__title {
    font-family: Poppins, sans-serif;
    color: #253757;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    margin-top: 40px; }
  .service__info {
    font-size: 14px;
    margin-top: 16px; }

.service:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

@media (max-width: 1024) {
  .service {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transform: scale(0.6);
            transform: scale(0.6); } }

.process {
  max-width: 1150px;
  margin: 148px auto 0; }
  .process__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
  .process__info {
    margin-top: 103px;
    max-width: 362px; }
  .process__subtitle {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19px;
    color: #c0cdd7; }
  .process__title {
    font-family: Poppins, sans-serif;
    color: #253757;
    font-weight: 600;
    margin-top: 16px;
    font-size: 32px;
    line-height: 130%; }
  .process__text {
    font-size: 14px;
    margin-top: 24px; }
  .process__card-wrapper {
    display: grid;
    grid-template-areas: ". card-2" "card-1 card-2" "card-1 card-4" "card-3 card-4" "card-3 .";
    grid-gap: 30px;
    grid-template-columns: repeat(2, 264px);
    grid-template-rows: auto; }

.card-1 {
  grid-area: card-1; }

.card-2 {
  grid-area: card-2; }

.card-3 {
  grid-area: card-3; }

.card-4 {
  grid-area: card-4; }

@media (max-width: 1260px) {
  .process {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: auto; }
    .process__wrapper {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      padding: 40px 0;
      margin: auto;
      max-width: 80%; }
    .process__card-wrapper {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      grid-template-areas: "card-1 card-2" "card-3 card-4"; }
    .process__info {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      margin-right: 30px; } }

@media (max-width: 1024px) {
  .process__wrapper {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .process__card-wrapper {
    margin: auto;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .process__info {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: auto;
    padding-bottom: 40px;
    text-align: center; } }

@media (max-width: 700px) {
  .process {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .process__card-wrapper {
      margin: auto;
      max-width: 300px;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      grid-template-columns: 1fr;
      grid-template-areas: "card-1" "card-2" "card-3" "card-4"; } }

.card {
  width: 264px;
  height: 264px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  position: relative;
  padding: 32px; }
  .card__number {
    text-align: center;
    line-height: 24px;
    width: 46px;
    height: 24px;
    background: rgba(32, 96, 246, 0.1);
    border-radius: 23px;
    color: #2060f6;
    margin-bottom: 24px; }
  .card__list-item {
    line-height: 20px; }
    .card__list-item:last-of-type {
      margin-bottom: 32px; }
  .card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 143px;
    font-weight: 600;
    font-size: 15px;
    color: #334563;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transition: 0.3s ease; }
    .card__link::before {
      display: inline-block;
      content: "";
      background-image: url(../images/learn-more/Vector.svg);
      background-color: #2060f6;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 16px;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
  .card__link:hover::before {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.features {
  width: 95%;
  right: 0;
  position: relative;
  background-color: #2c2c2c;
  border-radius: 30px 0 0 30px;
  color: #fff;
  margin: -88px 0 148px 5%;
  z-index: -1;
  padding: 204px; }
  .features__info-wrapper {
    max-width: 1150px;
    margin: auto; }
  .features__info {
    max-width: 362px; }
  .features__subtitle {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 16px; }
  .features__title {
    font-family: Poppins, sans-serif;
    color: #253757;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    margin-bottom: 32px; }
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 64px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .features__item:hover {
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
    .features__item:last-of-type {
      margin-bottom: 0; }
  .features__list-link:hover {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  .features__link {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .features__link:hover {
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
  .features__text {
    max-width: 263px; }
  .features__photo {
    background-image: url(../images/features/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0 0;
    width: 42vw;
    height: 680px;
    position: absolute;
    right: 0;
    bottom: 0; }

@media (max-width: 1200px) {
  .features {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    padding: 95px; }
    .features__photo {
      height: 85%; } }

@media (max-width: 1024px) {
  .features {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin-bottom: 84px; }
    .features__info {
      margin: auto; }
    .features__photo {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      display: none; } }

@media (max-width: 600px) {
  .features {
    max-width: 85%;
    margin-left: 50px;
    padding: 90px 10px; }
    .features__photo {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      display: none; }
    .features__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .features__link {
      margin: 0 0 10px; }
    .features__picture {
      margin: 20px 0; }
    .features__title {
      font-size: 20px; }
    .features__text {
      text-align: center; } }

.testimonials {
  max-width: 1150px;
  margin: auto;
  padding: 0 40px; }
  .testimonials__subtitle {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19px;
    color: #c0cdd7;
    margin-bottom: 16px; }
  .testimonials__title {
    font-family: Poppins, sans-serif;
    color: #253757;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    max-width: 362px;
    margin-bottom: 85px; }
  .testimonials__reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 168px; }

@media (max-width: 1200px) {
  .testimonials {
    max-width: 90%;
    padding: 0; }
    .testimonials__reviews {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .testimonials__review {
      margin-top: 20px; } }

.review {
  width: 314px;
  height: 494px;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  padding: 0 32px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px; }
  .review__photo {
    display: inline-block;
    position: relative;
    height: 250px;
    width: 250px;
    margin: auto; }
  .review__rectangle {
    content: "";
    position: absolute;
    display: inline-block;
    width: 139px;
    height: 56px;
    border: 1px #2060f6;
    background-color: #2060f6;
    border-radius: 12px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    z-index: 1;
    position: absolute; }
  .review__rectangle_1 {
    top: 50px;
    left: 3px; }
  .review__rectangle_2 {
    top: 144px;
    left: 105px; }
  .review__img {
    top: 57px;
    left: 55px;
    position: absolute;
    border-radius: 50%;
    margin-bottom: 80px;
    z-index: 2; }
  .review__quotes {
    margin-bottom: 10px; }
  .review__text {
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 16px;
    text-align: center; }
  .review__reviewier {
    color: #253757;
    font-weight: 600;
    margin-bottom: 6px; }
  .review__reviewier-company {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19px;
    color: #c0cdd7; }

@media (max-width: 1200px) {
  .review {
    margin-top: 20px; } }

.call-to-action {
  height: 888px;
  background-color: #fff;
  z-index: -1;
  padding: 198px 20px;
  position: relative; }
  .call-to-action__text-block {
    max-width: 754px;
    margin: auto;
    text-align: center; }
  .call-to-action__title {
    font-family: Poppins, sans-serif;
    color: #253757;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    margin-bottom: 24px; }
  .call-to-action__info {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 79px; }
  .call-to-action__button {
    display: inline-block;
    height: 56px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px; }
    .call-to-action__button:hover, .call-to-action__button:focus {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      cursor: pointer;
      border: 0;
      background-color: #ff9c8e; }
  .call-to-action__rectangle {
    position: absolute;
    border-radius: 12px;
    opacity: 0.5;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    width: 86px;
    height: 34px;
    border: 3px solid #2060f6;
    top: 15%;
    left: 22%;
    z-index: 1; }
    .call-to-action__rectangle:nth-child(1) {
      top: 16%;
      left: 29%;
      width: 45px;
      height: 18px; }
    .call-to-action__rectangle:nth-child(2) {
      top: 34%;
      left: 5%;
      width: 143px;
      height: 57px;
      border-width: 5px; }
    .call-to-action__rectangle:nth-child(3) {
      top: 44%;
      width: 67px;
      height: 27px;
      border-width: 5px; }
    .call-to-action__rectangle:nth-child(4) {
      top: 64%;
      left: 18%;
      width: 94px;
      height: 37px;
      border-width: 5px; }
    .call-to-action__rectangle:nth-child(5) {
      top: 54%;
      left: 32%;
      width: 45px;
      height: 18px;
      border-width: 5px; }
    .call-to-action__rectangle:nth-child(6) {
      top: 70%;
      left: 10%;
      width: 45px;
      height: 18px; }
    .call-to-action__rectangle:nth-child(7) {
      top: 53%;
      left: 68%;
      width: 86px;
      height: 34px; }
    .call-to-action__rectangle:nth-child(8) {
      top: 54%;
      left: 85%;
      width: 154px;
      height: 60px;
      border-width: 5px; }
    .call-to-action__rectangle:nth-child(9) {
      top: 54%;
      left: 75%;
      width: 154px;
      height: 60px;
      border-width: 5px; }
    .call-to-action__rectangle:nth-child(10) {
      top: 34%;
      left: 85%;
      width: 86px;
      height: 34px; }
    .call-to-action__rectangle:nth-child(11) {
      top: 14%;
      left: 75%;
      width: 154px;
      height: 60px;
      border-width: 5px; }
    .call-to-action__rectangle:nth-child(12) {
      top: 14%;
      left: 52%;
      width: 54px;
      height: 21px;
      border-width: 5px; }

@media (max-width: 1400px) {
  .call-to-action {
    padding: 120px 20px; }
    .call-to-action__rectangle {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      opacity: 0.1; }
    .call-to-action__title {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      font-size: 32px; } }

@media (max-width: 900px) {
  .call-to-action__rectangle {
    opacity: 0.1; }
    .call-to-action__rectangle:nth-child(8) {
      display: none; } }

@media (max-width: 550px) {
  .call-to-action__rectangle {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    opacity: 0.1; }
    .call-to-action__rectangle:nth-child(9), .call-to-action__rectangle:nth-child(10), .call-to-action__rectangle:nth-child(11) {
      display: none; } }

.contact {
  background-color: #2c2c2c;
  border-radius: 30px 30px 0 0;
  margin-top: -197px;
  padding: 0 20px;
  z-index: -1; }
  .contact__wrapper {
    padding-top: 180px;
    max-width: 1150px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 480px; }
  .contact__title {
    font-family: Poppins, sans-serif;
    color: #253757;
    font-weight: 600;
    color: #fff;
    font-size: 32px;
    margin-bottom: 56px; }
  .contact__input {
    padding: 16px 10px;
    background-color: #2c2c2c;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    opacity: 0.7; }
    .contact__input:hover, .contact__input:focus, .contact__input:active {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      border: none;
      opacity: 1;
      border-bottom: 1px solid #2060f6; }
    .contact__input:invalid {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      border-color: #f20c0c;
      background-image: url("data:image/svg+xml,%3Csvg width='13px' height='13px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right; }
  .contact__butoon {
    margin-top: 80px;
    height: 56px; }
    .contact__butoon:hover {
      -webkit-transform: scale(1.01);
              transform: scale(1.01); }
  .contact__info {
    width: 480px; }
  .contact__subtitle {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 8px; }
  .contact__phone {
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 48px; }
    .contact__phone:hover {
      color: #2060f6;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
  .contact__adress {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 48px; }
  .contact__link:not(:last-of-type) {
    margin-right: 32px; }
  .contact__img {
    padding: 4px;
    width: 24px;
    height: 24px; }
    .contact__img:nth-of-type(1):hover {
      background-color: #4267b2;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      border-radius: 4px; }
    .contact__img:hover:nth-of-type(2) {
      background-color: #4099ff;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
    .contact__img:nth-of-type(3):hover {
      background-color: #ff9c8e;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }

@media (max-width: 1200px) {
  .contact__wrapper {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px; }
  .contact__butoon {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    margin: 0 auto 60px; }
  .contact__title {
    text-align: center; }
  .contact__info {
    text-align: center; } }

@media (max-width: 600px) {
  .contact__form {
    width: 280px; }
  .contact__info {
    width: 280px; } }

.footer {
  margin-top: -2px;
  background-color: #2c2c2c;
  height: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__wrapper {
    max-width: 1150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__list-item {
    margin-right: 64px; }
    .footer__list-item:last-of-type {
      margin-right: 0; }
    .footer__list-item:hover {
      color: #2060f6;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
  .footer__list-link {
    display: block;
    white-space: pre;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 25px;
    text-align: center; }
    .footer__list-link:last-of-type {
      margin-right: 0; }
  .footer__logo-link {
    margin-right: 398px; }
    .footer__logo-link:hover {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

@media (max-width: 1200px) {
  .footer__wrapper {
    max-width: 90vw; }
  .footer__logo-link {
    margin-right: 64px; } }

@media (max-width: 1024px) {
  .footer__logo-link {
    margin-right: 0; }
  .footer__list-item {
    display: none; } }

* {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  background-color: #f2f6fa;
  color: #6c788b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px; }

a:hover {
  cursor: pointer; }

.button {
  width: 226px;
  background-color: #2060f6;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  border-radius: 8px;
  border: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .button:hover, .button:focus {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    cursor: pointer;
    border: 0;
    background-color: #fff;
    color: #2060f6; }

label:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

/*# sourceMappingURL=main.css.map */
